<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div class="icon-text--icon-container">
			<f:if condition="{element.data.link}">
				<f:then>
					<a href="{f:uri.typolink(parameter: element.data.link)}" tabindex="-1" aria-label="{element.data.title -> f:format.stripTags()}" class="icon-text--icon">
						<f:render section="Switch" arguments="{_all}" />
					</a>
				</f:then>
				<f:else>
					<div class="icon-text--icon">
						<f:render section="Switch" arguments="{_all}" />
					</div>
				</f:else>
			</f:if>
		</div>
	</f:section>

	<f:section name="Switch">
		<f:if condition="{icon.extension -> fo:format.toLower()} == 'svg'">
			<f:then>
				<f:render section="Svg" arguments="{_all}" />
			</f:then>
		</f:if>
	</f:section>

	<f:section name="Svg">
		<fo:svg.inline source="{icon.publicUrl}" preserveAspectRatio="xMinYMin" />
	</f:section>
</div>